.contenedor-noticia {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.titulo-noticia{
    font-size: 3rem;
    margin-top: 10px;
}
.parrafo-lorem-noticia{
    padding: 60px;
}
.imagen-noticia {
  width: 50%;
  border-radius: 50px;
  padding: 40px;
}
